
// White
$mystic: #d8dee9;

// Green
$swamp: #a3be8c;

// Teal
$shadow: #8fbcbb;

// Blue
$glacier: #81a1c1;

// Purple
$bouquet: #b48ead;

// Blue-Grey
$lynch: #707e99;

// Red (Error)
$brandyRose: #bb8785;

// Yellow (Warning)
$putty: #ebcb8b;

// Black (Background)
$vulcan: #0d121c;

